node_modules
dist
logs
.git
.gitignore
.env
.env.*
!.env.example
drizzle
!drizzle/
!drizzle/0000_wet_mauler.sql
coverage
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tests
docs
archives
.ai-studio
.kilo
.vercel
infrastructure/github-workflows
infrastructure/kubernetes
infrastructure/archives
